a{
  text-decoration: none;
}

body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  
}

body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('https://cdn.futura-sciences.com/sources/images/developpeur_web1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.4; 
  z-index: -1;
}

.content {
  position: relative;
  z-index: 1;
  color: white;
  text-align: center;
}




/* Style du menu latéral */
.sidePanel {
  position: fixed;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.6s ease;
  transform: translateX(-100%);
  z-index: 1000;
  background-color: black;
  border-right-style: groove;
}

.sidePanelClose {
  position: absolute;
  top: 10px;
  right: 10px;
  background: red;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.sidePanelHidden {
  transform: translateX(-100%);
}

.sidePanelOpen {
  transform: translateX(0);
}


.App{
  display: flex;
  flex-direction: row-reverse;
}

.presentation{
  background-color: black;
  height: 100%;
}


.hidden {
  opacity: 0;
}

/* rendu fondant*/
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 2;
  }
}

.fade-in-qui {
  animation: fadeIn 1s ease-in-out;
  animation-duration: 3s;
  font-size: 40px;
  color: aliceblue;
}

.fade-in-qui2 {
  animation: fadeIn 1s ease-in-out;
  animation-duration: 6s;
  width: 50%;
}

.fade-in-qui3 {
  animation: fadeIn 1s ease-in-out;
  animation-duration: 7s;
  width: 50%;
}

.qui-container p {
  margin-bottom: 3em; 
  line-height: 2.5; 
}

@media (max-width: 768px) {
.fade-in-qui {
  animation: fadeIn 1s ease-in-out;
  animation-duration: 3s;
  font-size: 27px;
}

}

.paragraphequi {
  position: absolute;
  color: aliceblue;
font-weight: bold;
width: 89%;
}

.qui-container p {
  margin-bottom: 1em;
  line-height: 2.5;
}

/* animation petit point */

.dots-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -45px;
  margin-left: -14%;
  margin-bottom: 90px;
}

.dot {
  width: 10px;
  height: 10px;
  margin: 0 5px;
  background-color: aliceblue;
  border-radius: 50%;
  opacity: 0;
  animation: blink 1.4s infinite both;
}

.dot:nth-child(1) {
  animation-delay: 0s;
}

.dot:nth-child(2) {
  animation-delay: 0.2s;
}

.dot:nth-child(3) {
  animation-delay: 0.4s;
}

@keyframes blink {
  0%, 80%, 100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

/*Signature */

.signature {
  padding-left: 45%;
  height: 10px;
  width: 39%;
}

#sign {
  stroke-dasharray: 2350;
  stroke-dashoffset: 2350;
  animation: animate 4s ease-in forwards;
}

.jl{
  width: 74%;
  height: 165px;
}

@keyframes animate {
  to{
    stroke-dashoffset: 0;
  }
}


/*  Side menu*/

.sidemenu{
  border-bottom-style: groove;
  border-bottom-left-radius: 40px;
  box-shadow: 0 14px 25px 25px rgba(0, 0, 0, 0.2);
}

@media (min-width: 501px) {
  .Link {
      list-style-type: none;
      font-size: 28px;
      margin-right: -58px;
      display: flex;
      margin-top: 75px;
  }

  li {
      margin-right: 85px;
  }

  .Link li:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}
}

/* Dans le composant Competences / Slider */

.tp{
  width: 50%;
}

#d{
  left:0;
  opacity: 0.4;
  transform: rotate(180deg);
  transition: all 0.3s ease;
  width: 20px;
  
}
#g{
  right:0;
  opacity: 0.4;
  transform: rotate(180deg);
  transition: all 0.3s ease;
  width: 20px;
}

#g:hover{

  transform:rotate(0deg) scale(1.1);
  opacity:1;
  transition: all 0.3s ease;
}
#d:hover{

  transform:rotate(180deg) scale(1.1);
  opacity:1;
  transition: all 0.3s ease;
}

@media (min-width: 501px) {

 #carousel {
  width: 800px;
  height: 400px;
  border: solid 4px #FFF;
  box-shadow: 0 0 14px rgba(0, 0, 0, 0.3);
  position: relative;
  overflow: hidden;
}

#container{

  width: 800px;
  height: 400px;
}

.bouton{
  position: absolute;
  width:70px;
  cursor: pointer;
  top:150px
}

.photo{
  width: 800px;
  height: 400px;
  margin: 0;
  display: inline-block;
  background-size: cover;
}

.modalClose{
  background-color: red;
  border-radius: 10px;
  color: antiquewhite;
}
 
}


.ReactModalPortal{
  display: flex;
  flex-direction: row-reverse;
  margin-right: 15px;
}


  
  
.imgResponsive {
  display: none;
}



/*Responsive */

@media (max-width: 500px) {
  
    .Link{
      
      list-style-type: none;
      display: block ruby;
      font-size: 13px;
      margin-top: 30px;
    
  }

}

@media (max-width: 500px) {
  
  li{
    
    margin-right: 10px;
  
}

}



@media (max-width: 768px) {
  .sidePanel {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: transform 0.6s ease;
    transform: translateX(-100%);
    z-index: 1000;
    background-color: black;
    border-right-style: groove;
  }

}



@media (max-width: 768px) {
  .sidePanelOpen {
    transform: translateX(0);
  }

}


@media (max-width: 768px) {
  .sidePanelClose {
    
  }

}



@media (max-width: 768px) {
  .qui-container p {
    margin-bottom: 1em;
  line-height: 116%;
  }

}


@media (max-width: 768px) {
  .dots-container {
    display: block;
  }

}


@media (max-width: 768px) {
  .paragraphequi {
    position: absolute;
  color: aliceblue;
  font-weight: bold;
  width: 89%;
  margin-left: 15px;
  }

}


@media (max-width: 768px) {
  .imgResponsive {
    display: flex;
    width: 5%;
    height: auto;
    margin-left: 94%;
    margin-bottom: 13px;
  }
}
